<!-- index.html -->
{% extends "base.html" %}
{% block title %}DJ中古機賣場{% endblock title %}
{% block content %}
    <div class="container" allgn=center>
        {% if products %}
            <table>
                <!-- title -->
                <tr bgcolor='#A0B6B2'>
                    <td width=250>庫存手機</td>
                    <td width=150>廠牌/型號</td>
                    <td width=50>出廠年</td>
                    <td>價格</td>
                </tr>
                <!-- content -->
                {% for p in products %}
                    <tr bgcolor='{% cycle "#D0ECE7" "E8F8F5" %}'>    
                        <td><a href='{% url "detail-url" p.id %}'>{{p.nickname}}</a></td>
                        <td>{{p.pmodel.maker.name}}/{{p.pmodel}}</td>
                        <td>{{p.year}}</td>
                        <td align=right>{{p.price}}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <h3>目前沒有庫存</h3>
        {% endif %}
    </div>
{% endblock content %}